<%= form_for @article, html: {class: "form-horizontal", role: "form"} do |f| %>
    <%= render 'shared/form_errors', object: f.object %>
    <div class="form-group">
        <div class="control-label col-md-1">
            <%= f.label :title %>
        </div>
        <div class="col-md-11">
            <%= f.text_field :title, class: "form-control", placeholder: "Title of article", autofocus: true %>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-1">
            <%= f.label :body %>
        </div>
        <div class="col-md-11">
            <%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Body of article" %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-11">
            <%= f.submit class: "btn btn-primary btn-lg pull-right" %>
        </div>
    </div>
<% end %>