<%= link_to "New Article", new_article_path, class: "btn btn-default btn-ld", id: "new-article-btn" %>

<% if @articles.empty? %>
    <h1 id="no-articles">No Articles to Display</h1>
<% else %>
    <% @articles.each do |article| %>
        <div class="well well-lg">
            <div class="article-title">
                <%= link_to article.title, article %>
            </div>
            <div class="article-body">
                <%= truncate(article.body, length: 500) %>
            </div>
        </div>
    <% end %>
<% end %>