<div class="container">
    <h3 class="text-center">Adding New Article</h3>
    
    <div class="row">
        <div class="col-md-12">
            <%= render 'form' %>
        </div>
    </div>
</div>