<div class="container">
    <article class="article-detail">
        <h1 class="article-detail-title"><%= @article.title %></h1>
        <div class="glyphicon glyphicon-calender" id="article-date">
            <%= @article.created_at.strftime("%b %d %Y") %>
        </div>
        <div class="article-body">
            <%= @article.body %>
        </div>
        <div class="edit-delete">
            <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-primary btn-large btn-space" %>
            <%= link_to "Delete Article", article_path(@article), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-primary btn-large btn-space" %>
        </div>
    </article>
</div>